*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(37 99 235);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(37 99 235);
}
.rooms-button:hover, .parking-button:hover {
  scale: 0.99;
  background-color: beige;
}
#overlay {
  position: fixed;
  display: none;
  width: 100vw; 
  height: 100vh; 
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#image-container {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
}
#image-container img {
  height: 100vh;
}
ul li button {
  font-weight: bold;

}
