*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(37 99 235);
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(37 99 235);
}
.rooms-button:hover, .parking-button:hover {
  scale: 0.99;
  background-color: beige;
}